
.body{
    width: 100%;
    
}
.body>.main__picture>img{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body>.sub__picture>img{
    width: 380px;
}

.body>.sub2__picture>img{
    width: 388px;
}


.body>li>img{
    width: 20rem;
    height: auto;
}


