:root {
    --text-color: #282828;
    --hover-text-color : #868686;
    --background-color:rgb(255, 255, 255);
    --accent-color:
}

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: "Source Sans Pro";
}

a{
    text-decoration: none;
    color:var(--text-color);
    width: 100%;
}


.main__header{
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center ; 
    padding: 14px 40px 14px 50px;
    margin: 70px 0px 120px 0px;
}

.seller__services>.practice__buttons>div:hover{
    color: var(--hover-text-color);
}
.seller__services>.practice__buttons>div>a:hover{
    color: var(--hover-text-color);
}

.nomelet__logo>a>img{
    width : 140px;
}
.nomelet__logo{
    margin-right: 140px;
}
.seller__services{
    display: flex;
    flex-direction: row;
}

.practice__buttons{
    display: flex;
    flex-direction: row;
}

.practice__buttons>div {
    margin: 0px 25px;
}

.customer__services{
    display: flex;
    flex-direction: row;
}

.customer__services>div{
    margin: 0px 15px;
}
.customer__services>div:hover{
    color: var(--hover-text-color);
}
.customer__services>div:hover>ul{
    color: var(--text-color);
}

.community__button{
    position: relative;
}

.community__button>ul{
    display: none;
    position: absolute;
}

.community__button:hover>ul{
    display: block;
}

.account__button>ul{
    display: none;
    position: absolute;
}

.account__button:hover>ul{
    display: block;
}

.body{
    width: 100%;
    
}
.body>.main__picture>img{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body>.sub__picture>img{
    width: 380px;
}

.body>.sub2__picture>img{
    width: 388px;
}

.business__info>ul{
    list-style: none;
    margin-bottom: 300px;
}
.business__info>ul>li{
    font-size: 12px;
}

li{
    list-style: none;
}

.body>li>img{
    width: 20rem;
    height: auto;
}
/* 반응형으로 구현하는 소스 */
.main__header>.hamburger{
    display: none;
}

.modal{
    width: 60%;
    height: 100%;
    position:absolute;
    /* display: none; */
    background: blue;
}



/* 옷 페이지 */
.aboutPage{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cloths__type{
    padding-left: 40px;
    padding-right: 120px;
}
.cloths__page{
    width: 100%;
}


.cloths__page>.cate>div{
    display: flex;
    justify-content: right;
    margin-right:50px;
    margin-bottom: 30px;
}
.body_container>.body{
    align-items: flex-start;
    /* grid-template-columns: ; */
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.body_container{

    width: 100%;
}

.body_container>.body{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 12px;
    justify-content: end;
}

.body_container>.body>li{
    margin: 20px 20px 40px 0px;

}



@media screen and (max-width: 1032px){
    .main__header{
    margin: 10px;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;   
    /* align-items: center ;  */
    }

    .nomelet__logo>a>img{
        width : 80px;
    }
    .practice__buttons{
        display: none;
        flex-direction: column;
    }
    .customer__services{
        display: none;
    }

    .main__header>.hamburger{
        display: block;
        margin-right: 10px;
    }
    .body>.main__picture>img{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
    }
    .cloths__type{
        display: none;
    }
    .body_container>.body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}