html { 
    scroll-behavior: smooth; 
  } 
body {
      height: 100%;
      width: 100%;
      margin: 0;
      font-family: 'WooridaumB';
      display: block;
}

a {
 text-decoration: none;
 color: black;
}

ul, li {
    list-style:none;
}

