* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hind','Nanum Gothic','Open Sans', sans-serif;
  list-style: none;
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: transparent;
}

.hover:hover {
  color: lightgray;
}

@media screen and (min-width: 481px){
  .item_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1025px){
  #nav_bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  #nav {
    width: 100%;
    margin: 0 auto; 
  }

  .menu_container {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    right: 0;
    width: 100%;
    padding: 0;
  }

  .menu_lists {
    display: flex;
    /* justify-content: space-around; */
  }

  .menu {
    padding: 20px;
  }

  .menu_toggle_btn {
    display: none;
  }
  
  /* .side_menu {
    display: block;
  } */
  
}