* {
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

/* adapt all pages (start) */

body {
    display: flex;
    flex-direction: column;
    /* filter: brightness(50%); */
    /* backdrop-filter: blur(2px); */
    

}



/* header */

.top
{
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5px;

    width: 100vw;

    /* border: 1px solid blue; */
}


/* header left */

.title {

    width: 15vw;
    height: 20vh;
    text-align: left;

    margin-top: 40px;
    margin-left: 5vw;
    /* border: 1px solid red; */
}

.title a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



/* header center */

.nav-bar {
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 83vw;

}

.menu {
    display: flex;
    flex-direction: row;
    width: 65%;

    /* border: 1px solid green; */
}

.menu span {
    margin-left: 30px;
}

.menu span a {
    text-decoration: none;
    color : black;
    font-size: 12px;
}



/* header right */

.options {
    display: flex;
    flex-direction: row;

    width: 30%;

    /* border : 1px solid blue; */
}

.options span {
    margin-left: 20px;
}

.options span a {
    text-decoration: none;
    color : black;
    font-size: 12px;

    margin-bottom: 20px;
}

.hide-community {
    margin-top: 20px;
    opacity: 0;

    transition: .3s ease;
}


.hide-community.active {
    opacity: 100%;
}






/* activate when small size */
.toggle-btn {
    display: none;
    position: absolute;
    top: 44px;
    color: black;
    right: 50px;
    font-size: 24px;

}

.toggle-btn.active {
    display: none;
}

.side-bar {
    width: 60vw;
    height: 100vh;
    right: 0;
    padding: 20px 40px;


    display: flex;
    flex-direction: column;

    position: fixed;

    transform: translateX(60vw);
    transition: .6s ease;
    

    background: rgb(255, 255, 255, .9);
}

.side-bar.active {
    /* display: flex;
    flex-direction: column; */
    transform: translateX(0);
}

.top-menu {
    margin-bottom: 5px;
}

.top-menu span {
    margin-right: 5px;
}
.top-menu span a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}



.sidebar-cart {
    margin-bottom: 50px;
}

.sidebar-cart a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}


.sidebar-about {
    margin-bottom: 15px;
}

.sidebar-about a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}


.sidebar-shop {
    margin-bottom: 15px;
}

.shop-title {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.shop-menu  {
    list-style: none;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 11px;


}

.shop-menu li {
    margin-bottom: 8px;

}

.shop-menu li a {
    text-decoration: none;
    color: black;
}


.sidebar-collection {
    margin-bottom: 15px;
}

.sidebar-collection a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}


.sidebar-community {
    margin-bottom: 15px;
}

.sidebar-community a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}


.sidebar-search {
    margin-bottom: 15px;
}

.sidebar-search a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

/* content */

.content {
    width: 100vw;
    height: flex;
    margin-top: 150px;
    padding-bottom: 50px;
    /* border: 1px solid red; */

    background-color: #f7f7f7;
    
}







/* footer */

.footer {
    /* border: 1px solid red; */
    height: 300px;

    display: flex;
    flex-direction: row;
}

.info {
    /* border: 1px solid red; */
    width: 50%;

    padding: 60px;
}

.info div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 5px;
}

.contact {
    width: 20%;
    padding: 60px;
}

.contact div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 5px;
}

.etc {
    width: 10%;
    padding: 60px;
}

.etc div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 5px;
}

.sns {
    width: 10%;
    padding: 60px;
}

.sns div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 5px;
}




/* adapt all pages (end) */



























/* Home (start) */

.content-title {
    text-align: center;
    margin-top: 70px;
    padding-top: 11px;
    font-family: 'Roboto Slab', serif;

    font-size: 20px;
    color: rgb(60, 82, 134);
    /* background: #f0efef; */
    height: 50px;
}


.content-main {
    height: 80vh;
    margin-top: -20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f7f7f7;
}

.slider {
    max-width: 1000px;
    width: 80vw;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

    /* border : 1px solid red; */
}

.slides {
    width: 500%;
    height : 500px;
    display : flex;
}

.slides input {
    display: none;
}

.slide {
    max-width: 1000px;
    width: 80vw;
    transition: 2s;

    /* border : 1px solid red; */
}

.slide img{
    width: 100%;
    height: 600px;
}


.navigation-manual {
    position: absolute;
    max-width: 1000px;
    width: 80vw;
    margin-top: -40px;
    /* margin-left: 100px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

    /* border: 1px solid red; */
}

.manual-btn {
    border : 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}


#radio1:checked ~ .first{
    margin-left: 0;

}

#radio2:checked ~ .first{
    margin-left: -20%;
    
}

#radio3:checked ~ .first{
    margin-left: -40%;
    
}

#radio4:checked ~ .first{
    margin-left: -60%;
    
}


/* auto */
.navigation-auto{
    position : absolute;
    display: flex;
    max-width: 1000px;
    width: 80vw;
    justify-content: center;
    margin-top: 460px;
    /* margin-left: 100px; */
}

.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #40D3DC;    
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #40D3DC;    
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #40D3DC;    
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #40D3DC;    
}


/* Home (end) */


























/* About (start) */

.about-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    
    font-size: 14px;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    
    /* border: 1px solid red; */
}

.intro-text {
    /* border: 1px solid red; */
    padding-top: 20%;


    text-align: left;

    font-size: 13px;
}

.intro-text pre {
    font-size: 12px;
}

/* About (end) */
























/* shop (start) */


/* left menu */

.categories {
    margin-top: 140px;
}

.categories li {
    list-style: none;
    margin-top: 5px;
}


.categories li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.pagination {
    /* border : 1px solid red; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.page {
    padding-left: 30px;
}

.page a {
    text-decoration: none;
    font-size: 13px;
}


/* content */


.category-name {
    text-align: right;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 11px;
}

.container {
    /* border: 1px solid blue; */
    margin-left: 25%;
    margin-right: 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.item-box {
    /* border: 1px solid red; */
    width: 100%;
}

.product-image {
    width: 100%;
    display: flex;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-text {
    font-size: 12px;
}

.product-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.notice {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 10px;

    font-size: 12px;
}


.photo img {
    max-width: 40vw;
    height: auto;
}

/* shop (end) */





















/* Collection (start) */


.space {
    height: 70vh;
}


/* Collection (end) */













@media screen and (max-width: 1025px) {
    /* header */
    .title {
        margin-left: 3px;
    }

    .nav-bar {
        display: none;
    }

    .toggle-btn {
        display: block;
        margin-top: 7px;
        position: fixed;
    }

    .categories {
        display: none;
    }






    /* About */
    .intro-text {
        margin-top: 30px;
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        /* padding-bottom: 25%; */
        /* border: 1px solid red; */
    }

    .intro {
        flex-direction: column;
    }




    

    /* Shop */
    .container {
        margin : 20px 20px;
    }


    .photo img {
        max-width: 90vw;
        height: auto;
    }

    .photo {
        padding-left: 4%;
    }



    /* footer */
    .footer {
        flex-direction: column;
    }

    .sns {
        display: inline;
    }

    .contact {
        width: 100%;
    }

}




