* {
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.top
{
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5px;

    width: 100vw;

    /* border: 1px solid blue; */
}

/* .left {

    display: flex;
    flex-direction: column;

} 
*/

/* .category {

    margin-left: 60px;
} */

.categories {
    margin-top: 150px;
}

.categories li {
    list-style: none;
    margin-top: 5px;
}


.categories li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}



.title {
    /* position: fixed; */

    width: 15vw;
    height: 20vh;
    text-align: left;

    margin-top: 4vh;
    margin-left: 5vw;
    /* border: 1px solid red; */
}

.title a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    /* position : fixed; */
    margin-top: 40px;


    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 83vw;

}

.menu {
    display: flex;
    flex-direction: row;
    width: 65%;
    padding-left: 100px;


    /* border: 1px solid green; */
}

.menu span {
    margin-left: 30px;
}

.menu span a {
    text-decoration: none;
    color : black;
    font-size: 12px;
}

.options {
    display: flex;
    flex-direction: row;

    width: 30%;

    /* border : 1px solid blue; */
}

.options span {
    margin-left: 20px;
}

.options span a {
    text-decoration: none;
    color : black;
    font-size: 12px;
}


.content {

    height: flex;
    margin-top: 150px;
    padding-bottom: 50px;
    /* border: 1px solid red; */
/* 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */

    background-color: #f7f7f7;
    
}
.content-title {
    text-align: center;
    margin-top: 70px;
    padding-top: 11px;
    font-family: 'Roboto Slab', serif;

    font-size: 20px;
    color: rgb(60, 82, 134);
    /* background: #f0efef; */
    height: 50px;
}


.content-main {
    height: 80vh;
    margin-top: -20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f7f7f7;
}



.article {
    width: 500px;
    height: 500px;

    border: 1px solid rgb(255, 199, 109);
    background-color: bisque;
}

.footer {
    /* border: 1px solid red; */
    height: 300px;

    display: flex;
    flex-direction: row;
}

.info {
    /* border: 1px solid red; */
    width: 50%;

    padding: 60px;
}

.info div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 5px;
}

.contact {
    width: 20%;
    padding: 60px;
}

.contact div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 5px;
}

.etc {
    width: 10%;
    padding: 60px;
}

.etc div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 5px;
}

.sns {
    width: 10%;
    padding: 60px;
}

.sns div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 5px;
}

.photo {
    margin: 30px;
    padding-left: 50px;
}


.photo img {
    width: 40vw;
    height: 100%;
}


.about-title {
    text-align: center;
    margin-top: 50px;

    font-size: 14px;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: left;

    /* border: 1px solid red; */
}

.intro-text {
    /* border: 1px solid red; */
    margin-top: 50vh;
}

.intro-text pre {
    font-size: 12px;
}



.container {
    margin-top: 5vh;
    margin-left: 20vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 15px;
}

.item-box {
    width: 300px;
    height: 450px;
    /* border: 1px solid blue; */

    display: flex;
    flex-direction: column;
}
.product-image {
    height: 83%;
}
.product-image img {
    width: 300px;
    height: 100%;

    /* border: 1px solid red; */
}

.product-text {
    /* border: 1px solid green; */
    height: 10%;

    font-size: 12px;
}

.product-title {
    margin-top: 5px;
    margin-bottom: 5px;
}


.category-name {
    text-align: right;
    margin-right: 60px;
    margin-top: 30px;

    font-size: 11px;
}

.notice {
    height: 25%;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 10px;
    font-size: 12px;
}

.toggle-btn {
    display: none;
    position: absolute;
    top: 44px;
    color: black;
    right: 50px;
    font-size: 24px;
}

.space {
    height: 70vh;
}











.slider {
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height : 500px;
    display : flex;
}

.slides input {
    display: none;
}

.slide {
    width:  20%;
    transition: 2s;
}

.slide img{
    width: 1000px;
    height: 600px;
}


.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border : 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}


#radio1:checked ~ .first{
    margin-left: 0;

}

#radio2:checked ~ .first{
    margin-left: -20%;
    
}

#radio3:checked ~ .first{
    margin-left: -40%;
    
}

#radio4:checked ~ .first{
    margin-left: -60%;
    
}





/* auto */
.navigation-auto{
    position : absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    margin-left: 100px;
}

.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #40D3DC;    
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #40D3DC;    
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #40D3DC;    
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #40D3DC;    
}



@media screen and (max-width: 780px) {
    .categories {
        display: none;
    }

    .nav-bar {
        display: none;
    }

    .toggle-btn {
        display: block;
    }
}




